/*********** Layout/Design CSS til forsiden ***********/
/* MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prod-bg-beige: #d6cfbe;
  --prod-bg-green: #395228;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; /* sørger for at headeren er over videoen */
}

.header-content {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 70px;
}

/* Header buttons */
.burger-btn,
.search-btn,
.cart-btn {
  background: none;
  border: none;
  min-height: 36px;
}

.burger-btn img,
.search-btn img,
.cart-btn img {
  height: 24px;
  width: 24px;
}

/* Højre ikoner */
.header-icons {
  display: flex;
  gap: 12px;
}

body {
  background-color: var(--prod-bg-beige);
}

/* ================= HERO ================= */

.hero {
  position: relative;
  height: 60vh;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* fjerner beige streg */
}

/* HERO LOGO OVEN PÅ VIDEO */
.hero-logo {
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header buttons */
.burger-btn,
.search-btn,
.cart-btn {
  background: none;
  border: none;
  min-height: 36px;
}

.burger-btn img,
.search-btn img,
.cart-btn img {
  height: 24px;
  width: 24px;
}

/* Højre ikoner */
.header-icons {
  display: flex;
  gap: 12px;
}

/****************** KATEGORI-SEKTION *******************/
.category-scroll {
  background-color: #395228;
  padding: 16px;
  display: flex;
  gap: 12px;
  overflow-x: auto; /* tillad vandret scrolling */
  overflow-y: hidden; /* skjul lodret scrollbar */
  -webkit-overflow-scrolling: touch; /* lettere/flottere scrolling på iOS */
}

.category-card {
  width: 140px;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  color: black;
}

.category-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.category-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #d6cfbe;
}

/************************* KUNDEKLUB-BANNER *************************/

.customerclub-banner {
  /* margin: 24px 16px;*/
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.customerclub-banner h2 {
  font-size: 22px;
  line-height: 1.3;
  margin-left: 16px;
  margin-top: 24px;
}

.customerclub-banner p {
  font-size: 15px;
  line-height: 1.5;
  margin-left: 16px;
}

.banner-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.banner-btn {
  align-self: center;
  padding: 12px 20px;
  background-color: #2f5e3a;
  color: #d6cfbe;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

/**************************** POPULÆRE PRODUKTER-SEKTION ****************************/
.popular-brands {
  padding: 24px 16px;
}

.popular-brands h2 {
  font-size: 22px;
  margin-bottom: 16px;
}

.brand-scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.brand-card {
  width: 120px;
  height: 120px;
  background-color: transparent;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-card img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/**************************** FOOTER ****************************/

.footer {
  background-color: #395228;
  color: #d6cfbe;
  padding: 32px 16px;
}

.footer-logo {
  height: 200px;
  margin-left: -100px;
  margin-top: -80px;
}

.footer-container {
  display: flexs;
  flex-direction: column;
  gap: 32px;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-col h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 6px;
  opacity: 0.8;
}

/************ NYHEDSBREV-SEKTION ************/

.footer-newsletter {
  background-color: #ebe5d847;
  border: 2px solid #d6cfbe;
  border-radius: 16px;
  margin: 10px;
  padding: 15px;
}

.footer-newsletter h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.footer-newsletter p {
  font-size: 14px;
  margin-bottom: 12px;
  opacity: 0.8;
}

.footer-col {
  margin: 5px;
  padding: 5px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newsletter-input {
  padding: 10px;
  border: none;
}

.newsletter-btn {
  padding: 12px;
  background-color: #2f5e3a;
  color: #d6cfbe;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: none;
  cursor: pointer;
}

.footer-copy {
  text-align: right;
  margin-top: 30px;
}

.kontrol-rapport {
  height: 20px;
  float: left;
}
