* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  max-width: 100vw;
}
body {
  overflow-x: hidden;
}
header {
  background-color: #395228;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  height: 120%;
  max-height: 180px;
  display: block;
  margin-inline: auto;
}
body {
  background-color: #d6cfbe;
}
footer {
  background-color: #395228;
  height: 100px;
}
.product_img {
  max-height: 100px;
  display: block;
  margin-inline: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
}
.product {
  padding: 12px;
  max-height: 300px;
  width: 100%;
  max-width: none;
  margin: 0;
  background-color: #f6f7ef;
  border-radius: 15px;
}

.name {
  color: #1e1e1e;
  margin-top: 10px;
  font-size: 18px;
}

.price {
  color: #00ad4d;
  margin-top: 7px;
  font-size: 16px;
}

.hero1 {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 85%;
}
.hero2 {
  display: none;
}

h1 {
  text-align: center;
  margin-block: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
  .hero2 {
    width: 100%;
    min-height: 700px;
    object-fit: cover;
    opacity: 85%;
    display: block;
    position: sticky;
    top: 100px;
  }
  .hero1 {
    display: none;
  }
}

/* *********** */
#burger {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#menu {
  display: none;
  background-color: #395228;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
  text-align: center;
}

#menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: left;
}

#menu.open {
  display: block;
}

@media (min-width: 900px) {
  #burger {
    display: none !important;
  }
  #menu {
    display: flex !important;
    justify-content: center;
    gap: 20px;
  }

  #menu a {
    color: white;
    padding: 0;
  }
}

#hotspotSword-2 {
  color: red;
}
