* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  max-width: 100vw;
}
body {
  overflow-x: hidden;
}
header {
  background-color: #395228;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.header-top {
  position: relative;
  width: 100%;
  height: 80px;
}

.logo {
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.cta_btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.cta_btn2 {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.cta_btn3 {
  position: absolute;
  right: 110px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cta_btn img {
  height: 2rem;
  display: block;
}
.cta_btn2 img {
  height: 2rem;
  display: block;
}
.cta_btn3 img {
  height: 2rem;
  display: block;
}
body {
  background-color: #d6cfbe;
}
footer {
  background-color: #395228;
  height: 100px;
}
.product_img {
  max-height: 100px;
  display: block;
  margin-inline: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
}
.product {
  padding: 12px;
  max-height: 300px;
  width: 100%;
  max-width: none;
  margin: 0;
  background-color: #f6f7ef;
  border-radius: 15px;
}

.name {
  color: #1e1e1e;
  margin-top: 10px;
  font-size: 18px;
}

.price {
  color: #00ad4d;
  margin-top: 7px;
  font-size: 16px;
}

.hero1 {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 85%;
}
.hero2 {
  display: none;
}

h1 {
  text-align: center;
  margin-block: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
  .hero2 {
    width: 100%;
    min-height: 700px;
    object-fit: cover;
    opacity: 85%;
    display: block;
    position: sticky;
    top: 100px;
  }
  .hero1 {
    display: none;
  }
  #burger {
    display: none !important;
  }
  #menu {
    position: static !important;
    display: flex !important;
    justify-content: center;
    gap: 30px;

    margin-top: 10px;
  }
  #menu a {
    padding: 10px 0;
    font-size: 18px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#menu a {
  color: white;
  padding: 0;
}

#burger {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#menu {
  display: none;
  background-color: #395228;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
  text-align: center;
}

#menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: left;
}

#menu.open {
  display: block;
}

[popover] {
  position: fixed;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0%);
  opacity: 0;
  transition: opacity 0.2s ease, 0.4s ease;
}

:popover-open {
  opacity: 1;
  width: 40%;
  height: 80%;
  @starting-style {
    opacity: 0;
    width: 0;
    height: 80%;
  }
}

#popup_kurv > p {
  text-align: center;
  margin-block: 50%;
}
#popup_login > p {
  text-align: center;
  margin-block: 50%;
}

.search-dropdown {
  display: none;
  width: 100%;
  padding-inline: 10px;
  position: static;
  z-index: 999;
}

.search-dropdown input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
}
